.transparentFocus {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: white;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: black;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: black;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    visibility: false;

    -fx-background-color: green;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}
/*.textflow {*/
/*    -fx-background-image: url("istockphoto-670055748-612x612.jpg")*/
/*}*/